.herocontent { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 70%;
    height: 100%; 
    margin: auto auto; 
}


.intro {
    font-family: 'Jost', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #de8d7f;
}

.name {
   font-family: 'Jost', sans-serif;
    font-size: 40px;
    text-align: center;
}

mark {
    background-color: #f1d1cb !important;
}

#title {
    color: #475f77;
}


#photo {
    padding-top: 20px;
    padding: 50px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}